<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trump.vote.mapper.TwitterUserMapper">
  <resultMap id="BaseResultMap" type="org.trump.vote.entity.TwitterUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="screen_name" jdbcType="VARCHAR" property="screenName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="profile_image_url" jdbcType="VARCHAR" property="profileImageUrl" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, screen_name, name, profile_image_url, create_datetime, update_datetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from twitter_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from twitter_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.trump.vote.entity.TwitterUser">
    insert into twitter_user (id, user_id, screen_name, 
      name, profile_image_url, create_datetime, 
      update_datetime)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{screenName,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{profileImageUrl,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.trump.vote.entity.TwitterUser">
    insert into twitter_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="screenName != null">
        screen_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="profileImageUrl != null">
        profile_image_url,
      </if>
      <if test="createDatetime != null">
        create_datetime,
      </if>
      <if test="updateDatetime != null">
        update_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="profileImageUrl != null">
        #{profileImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.trump.vote.entity.TwitterUser">
    update twitter_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        screen_name = #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="profileImageUrl != null">
        profile_image_url = #{profileImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.trump.vote.entity.TwitterUser">
    update twitter_user
    set user_id = #{userId,jdbcType=VARCHAR},
      screen_name = #{screenName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      profile_image_url = #{profileImageUrl,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>